@font-face {
    font-family: "Bely Display";
    src: url('../fonts/BelyDisplay.OTF');
  }

@import 'var';

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-color);
    font-size: 18px;
    line-height: 144%;
    font-weight: 400;
    color: var(--black-color);
    font-family: var(--font-family);
    letter-spacing: -0.02em;
}



a{
    text-decoration: none;
    color: inherit;
    &.active {
        font-weight: 700;
        color: var(--green-color);
    }
}

button{
    border: none;
    cursor: pointer;
}

.container {
    max-width: 1348px;
    padding: 0 10px;
    margin: 0 auto;
}

.section__title {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 48px;
    line-height: 133%;
    color: var(--black-color);
}

.green-btn {
    padding: 20px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 133%;
    color: var(--white-color);
    border-radius: 8px;
    background-color: var(--green-color);
}
