


:root {
    --black-color: #303031;
	--gray-color: #66645e;
	--green-color: #71a894;
	--light-gold-color: #f3f0ea;
	--white-color: #fff;
	--yellow-color: #f5c64f;
    --background-color: #f9f9f9;
    // fonts
    --font-family: "Novel Mono Pro", sans-serif;
    --second-family: "Proxima Nova", sans-serif;
    --third-family: "Bely Display", sans-serif;
    --font3: "Inter", sans-serif;
    --font4: "Futura Round Demi", sans-serif;

}