.header {
    padding: 40px 0;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            &__img {

            }
        }
        .menu {
            &__list {
                display: flex;
                gap: 40px;
                align-items: center;
                padding: 10px 0;
                &-item {
                    font-family: var(--second-family);
                    font-weight: 500;
                    font-size: 20px;
                    letter-spacing: -0.02em;
                    color: var(--black);
                }
            }
            
        }
        
    }
    
}
