.promo {
    padding-top: 20px;
    margin-bottom: 80px;
    min-height: calc(100vh - 120px);
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .promo__info {
            width: 46%;
            &-title {
                font-family: var(--third-family);
                font-weight: 400;
                font-size: 64px;
                line-height: 125%;
                margin-bottom: 24px;
            }
            &-text {
                font-size: 24px;
                line-height: 133%;
                color: var(--gray-color);
                margin-bottom: 40px;
            }
            &-btn {
                width: 219px;
            }
        }
        
        .promo__media {
            width: 60%;
        }
    }
    
}
